force-app/main/default/flows/Get_Agent_ContextObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_LoadAgentMemory</name>
        <label>Invoke Load Agent Memory</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LoadAgentMemory</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Agent_Memory</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agent_Memory</name>
        <label>Assign Agent Memory</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>agent_memory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_LoadAgentMemory.agentMemory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memory_summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_LoadAgentMemory.memorySummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memory_goal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_LoadAgentMemory.memoryGoal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memory_has_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_LoadAgentMemory.hasIssue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memory_style</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_LoadAgentMemory.memoryStyle</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Agent Context Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Agent Context Object</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoke_LoadAgentMemory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Contact ID to look up</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target variable name for output mapping (default: agent_memory)</description>
        <name>variable_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Formatted merge of all memory fields for agent personalization.</description>
        <name>agent_memory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Last topic summary for checkpoint agents.</description>
        <name>memory_summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Pending goal for checkpoint agents.</description>
        <name>memory_goal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Unresolved issue flag for checkpoint agents.</description>
        <name>memory_has_issue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Communication style for checkpoint agents.</description>
        <name>memory_style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
