force-app/main/default/flows/Save_Agent_ContextObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_SaveAgentContext</name>
        <label>Invoke Save Agent Context</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>SaveAgentContext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newSummary</name>
            <value>
                <elementReference>new_summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newGoal</name>
            <value>
                <elementReference>new_goal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasIssue</name>
            <value>
                <elementReference>has_issue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newStyle</name>
            <value>
                <elementReference>new_style</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_SaveAgentContext.success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Save Agent Context Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Agent Context Object</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoke_SaveAgentContext</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact used to find or create Agent_Context__c.</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True when unresolved issue should remain open.</description>
        <name>has_issue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pending goal to continue in next session.</description>
        <name>new_goal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Concise summary of the current conversation.</description>
        <name>new_summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Updated communication style preference.</description>
        <name>new_style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
